body {
    margin: auto;
    font-family: sans-serif;
}

/*          Desktop Header Start            */

.desktop-header {
    /*background-color: red;*/ /*USE FOR DEBUGGING*/
    background-color: rgb(0, 128, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    height: 1rem;
    display: grid;
    grid-template: auto / auto auto;
    align-content: center;
    justify-content: space-between;
}

[class="desktop-header"] * {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}

.navi-bar {
    /*background-color: white;*/ /*USE FOR DEBUGGING*/
    display: grid;
    grid-template: auto / auto auto;
    align-content: center;
    column-gap: 2rem;
}

.website-title {
    user-select: none;
    cursor: default;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.25em;
    font-weight: bolder;
    color: white;
}

[class="navi-bar"] p {
    user-select: none;
    cursor: default;
}

.navi-bar-content {
    /*background-color: green;*/ /*USE FOR DEBUGGING*/
    background-color: white;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2rem;
    display: grid;
    grid-template: auto / auto auto auto;
    align-content: center;
    column-gap: 2rem;
}

[class="navi-bar-content"]>button {
    padding: 0;
    border: none;
    background: none;
}

[class="navi-bar-content"]>button>a {
    color: rgb(50, 50, 50);
}

[class="navi-bar-content"]>button>a:hover {
    opacity: 50%;
}

/*          Desktop Header End          */

.themes-btn {
    background-color: white;
    width: 4rem;
    height: 2rem;
    padding: 0;
    border: 0.25rem solid rgb(50, 50, 50);
    border-radius: 4rem;
    display: grid;
    grid-template: auto / auto;
    align-content: center;
}

.themes-btn-slide {
    background-image: url("../img/Sun-logo.png");
    background-color: rgb(50, 50, 50);
    background-size: cover;
    width: 1.35rem;
    height: 1.35rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    border: 0.05rem solid rgb(50, 50, 50);
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.themes-btn-slide:focus {
    transition: 0.25s ease-in-out;
}

/*          Main Start          */

main {
    padding: 4rem 1rem 1rem 1rem;
    height: 1000px;
    color: white;
    background-color: rgb(75, 0, 0); /*USE FOR DEBUGGING*/
}

/*          Main End            */

/*          Footer Start            */

footer {
    background-color: black; /*USE FOR DEBUGGING*/
    color: white;
    padding: 1rem;
}

/*          Footer End          */