@import "navigation-bar.css";

html {
    height: 100%;
}

body {
    margin: auto;
    min-height: 100%;
    font-family: sans-serif;
    display: grid;
    grid-template: auto auto auto / auto;
    align-content: space-between;
}

/*          Main Start          */

main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.container {
    background-color: white;
    color: rgb(55, 55, 55);
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 2rem;
    padding: 1rem;
    width: fit-content;
    flex-grow: 1;
    display: grid;
    grid-template: auto / auto auto;
    justify-content: center;
    align-content: center;
}

.container>p, .container>div {
    text-align: left;
    margin: auto;
    width: 20rem;
}

.container>img {
    width: 15rem;
}

/*          Main End            */

/*          Footer Start            */

footer {
    padding: 1rem;
}

address {
    display: grid;
    grid-template: auto / auto auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 2rem;
}

address>a, address>a>svg {
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: max-content;
    box-sizing: border-box;
}

/*          Footer End          */