@import "navigation-bar.css";

html {
    height: 100%;
}

body {
    margin: auto;
    min-height: 100%;
    font-family: sans-serif;
    display: grid;
    grid-template: auto auto auto / auto;
    align-content: space-between;
}

/*          Main Start          */

main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

main>.card {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
}

.project {
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template: auto auto auto / auto;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.project>* {
    margin: 0;
    padding: 0;
    width: 20rem;
}

.project>img {
    border-radius: 1rem;
    
}

.project>h1, .project>p {
    text-align: center;
}

.project>p {
    font-size: 1.5em;
}

/*          Main End            */

/*          Footer Start            */

footer {
    padding: 1rem;
}

address {
    display: grid;
    grid-template: auto / auto auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 2rem;
}

address>a, address>a>svg {
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: max-content;
    box-sizing: border-box;
}

/*          Footer End          */